{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}
    {# si edit (est vrai cad qu'il y a un id donc session existante) #}
    {% if edit %}
        <h1>Editer une session</h1><br>
    {% else %}
        <h1>Ajouter une session</h1><br>   
    {% endif %}

    {{ form_start(form) }}
        {# gestion des affichage par ligne qui regroupe des "colones" automatique selon le nombre d'éléments #}
        <div class="row">
            <div class="col-sm">
                {{ form_row(form.dateDebut) }}
            </div>
            <div class="col-sm">
                {{ form_row(form.dateFin) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form_row(form.Denomination) }}
            </div>
            <div class="col-sm">
                {{ form_row(form.nombrePlaceMax) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{ form_row(form.stagiaires) }}
            </div>
            <div class="col-sm">
                {{ form_row(form.formation) }}
            </div>
        </div>
       
        {# on va construire dynamiquement la liste des matieres existantes à partir de Programme #}
        <br><h2>Programme de la session</h2>

        <div class="form-group row ">
            <div id="programme-fields-list" class="col-sm"
                data-prototype="{{ form_widget(form.programmes.vars.prototype)|e }}"
                data-session="{{sessionId}}"
                data-widget-tags="{{ '<p></p>'|e }}"
                data-widget-counter="{{ form.programmes|length }}">
            {% for programmeField in form.programmes %}
                <p>
                    {{ form_errors(programmeField) }}
                    {{ form_widget(programmeField, {'attr': {'class': 'borders'}}) }}
                </p>
            {% endfor %}
            </div>
        </div>
        <div class="form-group  flex-action">
            <button type="button" 
                class="btn btn-primary add-another-collection-widget button"
                data-list-selector="#programme-fields-list">Ajouter une nouvelle matière</button>
        </div>
    
     
    
        {# empêche l'apparition d'une légende "programmes", si la collection est vide (en cas de création d'une nouvelle session) #}
        {% do form.programmes.setRendered %}

        <div class="mt-3">
        {{ form_row(form.Valider) }}
        </div>

    {{ form_end(form) }}
{% endblock %}

